body{


}

h1{
    font-size : 7rem;
    padding-top: 100px;
    padding-bottom: 100px;
}

#accueil{
    background-image: url("../img/img1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color : #ffffff;
    position: center;
}

#signUp{

    background-image: url("../img/img2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: center;

}

.my-form{
    padding-top: 200px;
    opacity: 0.9;
    color : #161616 !important;
}

#signIn{

    background-image: url("../img/img3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: center;

}

#bandeau1{
    height: 100vh;
    margin-top: 5%;

}
#bandeau0{
    margin-top: 5%;
    text-align: center;
    font-size: 5rem !important;
    margin-bottom: 2%;

}

.centrer{
    text-align: center;
}
