body{
    background-color: #161616;

}

h1{
    font-size : 7rem;
    padding-top: 100px;
    padding-bottom: 100px;
}


#contenu1{
    background-image: url("../img/bg-masthead.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color : #fff;
    position: center;
}

#signUp{

    background-image: url("../img/bg-signup.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: center;

}

.my-form{
    padding-top: 100px;
    opacity: 0.5;
}

#signIn{

    background-image: url("../img/demo-image-02.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: center;

}