<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="fr">
<div th:include="bootstrapcdn.html"/>

<head>

  <meta charset="utf-8">

  <title>Escalade P6 - OpenClassRooms - Parcours DA Java - Projet 6</title>



</head>

<body id="page-top" >

<!-- HEADER -->
<header>

      <h1 class="mx-auto my-0 text-uppercase">ESCALADE P6</h1>
      <h2 class="text-white-50 mx-auto mt-2 mb-5">Le site qui vache les meilleurs grimpeurs aux meilleurs spots de France</h2>


</header>




</body>

</html>
