<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">



<head>
    <div th:include="bootstrapcdn.html"/>
  <meta charset="utf-8">

  <title>Escalade P6 - OpenClassRooms - Parcours DA Java - Projet 6</title>



</head>

<body>

<!-- HEADER -->


<!-- nav bar -->
<div th:include="navbar.html"/>


<!-- premier bandeau -->
<div class="d-flex p-2 bd-highlight" id="accueil">
    <div class="container">
        <div class="row">
            <div class="text-center">
                <h1>ESCALADE-P6</h1>
                <h2>Le site qui vache les meilleurs grimpeurs aux meilleurs spots de France</h2>
            </div>

        </div>
        <div class="col-md-12" id="julien">

             <h3> Site web réalisé par Julien Marcesse dans le cadre de son parcours Développeur d'Application Java</h3>
            <h3>Repository Github du projet : <a href="https://github.com/mercure84/escaladeP6"><i class="fab fa-github fa-2x"></i>

            </a></h3>
        </div>
    </div>
</div></div>






</body>

</html>
