<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="fr">
<div th:include="bootstrapcdn.html"/>

<head>

  <meta charset="utf-8">

  <title>Escalade P6 - OpenClassRooms - Parcours DA Java - Projet 6</title>



</head>

<body>

<!-- HEADER -->
<header></header>

<!-- nav bar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
        <a class="navbar-brand" href="#contenu1">Accueil</a>
        <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#signUp">S'inscrire <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#signIn">Se connecter</a>
                </li>


            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input aria-label="Search" class="form-control mr-sm-2" placeholder="Saisir du texte" type="search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Rechercher</button>
            </form>
        </div>
    </nav>

<!-- premier bandeau -->
<div class="d-flex p-2 bd-highlight" id="contenu1">
    <div class="container">
        <div class="row">
            <div class="text-center">
                <h1>ESCALADE P6</h1>
                <h2>Le site qui vache les meilleurs grimpeurs aux meilleurs spots de France</h2>
            </div>

        </div></div></div>


<!-- ZONE DE CONNEXION -->


    <div class="container" id="signIn">
        <div class="row">
            <div th:include="signIn.html"/>
        </div>

    </div></div>






<!--- ZONE D ENREGISTREMENT -->

<div class="d-flex p-2 bd-highlight" id="signUp">
<div class="container">

        <div class="row">
            <div class="col-lg-12">
            <div th:include="signUp.html"/>
        </div>

    </div></div></div>





</body>

</html>
