<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">





<nav class="navbar navbar-expand-md navbar-light bg-light">
    <a class="navbar-brand" href="/">Escalade P6</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" sec:authorize="isAuthenticated()">@<span sec:authentication="name">Username</span><span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" sec:authorize="isAnonymous()" href="/signUp">S'inscrire <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" sec:authorize="isAnonymous()" href="/login">Se connecter</a>
            <a class="nav-item nav-link" sec:authorize="isAuthenticated()" href="/logout">Logout</a>



            <form sec:authorize="isAuthenticated()" class="form-inline">
                <a href="/topoHome"><button class="btn btn-outline-success" type="button">Dashboard</button></a>
                <a href="/topoConsulter"><button class="btn btn-outline-success" type="button">Spots</button></a>
                <a href="/topoGerer"><button class="btn btn-outline-success" type="button">Mes Topos</button></a>
                <a href="/empruntConsulter"><button class="btn btn-outline-success" type="button">Les Emprunts</button></a>
                <a href="/adminZone"><button class="btn btn-outline-danger" type="button">Admin</button></a>
            </form>


        </div>
    </div>
</nav>
