<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="card">
                    <div class="card-header">Affiner la recherche des topos</div>
                    <div class="card-body">
                        <form name="my-form" action="#" th:action="@{/topoConsulter}" method="get">
                            <div class="form-group row">
                                <label class="col-md-3 col-form-label text-md-right" for="departement" >Département</label>
                                <label class="col-md-3 col-form-label text-md-right" for="difficulte" >Difficulté</label>
                                <label class="col-md-3 col-form-label text-md-right" for="nbVoies" >Nb de voies</label>
                                <label class="col-md-2 col-form-label text-md-right" for="disponible" >Topo dispo.</label>
                            </div>
                            <div class="form-group row">
                                <select class="form-control col-md-3" id="departement">
                                    <option value="all" selected>Tous</option>
                                    <option value="75">75</option>
                                    <option value="77">77</option>
                                    <option value="78">78</option>
                                    <option value="13">13</option>
                                    <option value="15">15</option>
                                </select>
                                <select class="form-control col-md-3" id="difficulte">
                                    <option selected value="all">Tous</option>
                                    <option value="deb">Débutant</option>
                                    <option value="interm">Intermédiaire</option>
                                    <option value="conf">Confirmé</option>
                                    <option value="confirmé">Expert</option>

                                </select>
                                <select class="form-control col-md-3" id="nbVoies">
                                    <option value="all" selected>Tous</option>
                                    <option value="1">1-5</option>
                                    <option value="2">6-10</option>
                                    <option value="3">11-15</option>
                                    <option value="4">16-20</option>
                                    <option value="5">+20</option>
                                </select>

                                <input class="class=form-control col-md-2" id="disponible" type="checkbox" value="true">

                            <div class="col-md-1">
                                <button type="submit" class="btn btn-secondary">
                                    Trier
                                </button>
                            </div>

                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</html>