<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="fr">
<div th:include="bootstrapcdn.html"/>
<head>
   <meta charset="utf-8">
    <title>Escalade P6 - OpenClassRooms - Parcours DA Java - Projet 6</title>
</head>

<body id="topoBody">
<div class="container">
<!-- nav bar -->
<div th:include="navbar.html"/>


<!-- corps de la page Topos -->

    <!-- sections boutons  -->
    <div class="row centrer">

        <div class="col-md-3">
            <!-- section recherche d'un topo -->
            <a class="btn btn-secondary" href="/topoConsulter" role="button">CONSULTER LES TOPOS</a>

        </div>
        <div class="col-md-3">
            <!-- consultation des emprunts -->
            <a class="btn btn-secondary" href="/empruntConsulter" role="button">CONSULTER LES EMPRUNTS</a>

        </div>

        <div class="col-md-3">
            <!-- section publication d'un topo -->
            <a class="btn btn-secondary" href="/topoGerer" role="button">MES TOPOS</a>
        </div>

        <div class="col-md-3">
            <!--  -->
            <a class="btn btn-secondary" href="#" role="button">Mon Profil</a>


        </div>
    </div>


<!-- autre partie de la page  -->
        <div class="row">

            <div class="col-md-12">
                <br>
                <h2 th:text="'Bienvenu ' + ${titreMembre} + ' !'">Bienvenue</h2>
                <br>
                <p th:text="'Il y a ' + ${nbTopoTotal} + ' Topos en ligne. ' + ${nbTopoEmpruntes} + ' sont disponibles !' "></p>
                <p th:text="'Le dernier Topo publié est ' + ${nomDernierTopoPublie} + '.'"></p>
                <p th:text="'Il y a actuellement ' + ${nbMembre} + ' grimpeurs enregistrés sur le site !'"></p>
            </div>
        </div>
<div class="row">

            <div class="col-md-6">

                <img src="./img/accueil.jpg">
        </div>

    <div class="col-md-6">
        <br>
        <h2>Mes derniers commentaires</h2>

        <table style="margin-top: 10px" class="table">
            <thead>
            <tr><th>Commentaire</th>
                <th>Date</th>
                <th>Topo</th>

            </tr></thead>

            <tr th:each="ligne : ${commentaireList}">
                <td th:text="${#dates.format(ligne.getDate(), 'dd-MM-yyyy' + ' à ' + 'HH:mm')}">Date</td>
                <td th:text="${ligne.getMemo()}">Mémo</td>
                <td th:text="${ligne.getTopo().getNom()}">Topo</td>
            </tr>

        </table>




    </div>




    </div>

</div>
</body>
</html>