<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="fr">
<div th:include="bootstrapcdn.html"/>
<head>
   <meta charset="utf-8">
    <title>Escalade P6 - OpenClassRooms - Parcours DA Java - Projet 6</title>
</head>

<body id="topoBody">
<!-- nav bar -->
<div th:include="navbar.html"/>


<!-- corps de la page Topos -->
<div class=="row">
    <div class="col-lg-12" id="bandeau0">
    <h2>DASHBOARD TOPOS</h2>
    </div>
</div>



    <!-- sections boutons  -->
    <div class="row centrer">

        <div class="col-lg-4">
            <!-- section recherche d'un topo -->
            <a class="btn btn-secondary" href="/topoConsulter" role="button">CONSULTER LES TOPOS</a>

        </div>

        <div class="col-lg-4">
            <!-- section publication d'un topo -->
            <a class="btn btn-secondary" href="/topoPublier" role="button">PUBLIER UN TOPO</a>
        </div>

        <div class="col-lg-4">
            <!--  -->
            <a class="btn btn-secondary" href="#" role="button">EMPRUNTER UN TOPO</a>


        </div>
    </div>


<!-- autre partie de la page  -->
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-6">
                <br>
                <h2 th:text="'Bienvenu ' + ${pseudoMembre} + ' !'">Bienvenue</h2>
                <br>
                <p th:text="'Il y a ' + ${nbTopoTotal} + ' Topos en ligne. ' + ${nbTopoEmpruntes} + ' sont disponibles !' "/>
                <p th:text="'Le dernier Topo publié est ' + ${nomDernierTopoPublie} + '.'"/>
                <p th:text="'Il y a actuellement ' + ${nbMembre} + ' grimpeurs enregistrés sur le site !'"/>
            </div></div>
<div class="row">
    <div class="col-lg-2"></div>
            <div class="col-lg-6">
                <br>
                <h2>Le grimpeur du mois :</h2>
                <img src="./img/chat.jpg">
        </div>
    </div>

<div th:include="jscdn.html"/>
</body>
</html>