<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:include="bootstrapcdn.html"/>
    <meta charset="utf-8">

    <title>Detail d'un Topo</title>

</head>
<body>
<!-- nav bar -->
<div th:include="navbar.html"/>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <h2>Topo n° <span th:text="${topo.getId()}"></span></h2>

<!--DESCRIPTION DU TOPO -->
            <table style="margin-top: 10px" class="table">
                <thead>
                <tr><th>Nom</th>
                    <th>Description</th>
                    <th>Difficulté</th>
                    <th>Département</th>
                    <th>Nb de voies</th>
                    <th>Disponibilité</th>
                    <th>Propriétaire</th>
                    <th>Fichier</th>

                </tr></thead>

                <tr>
                    <td th:text="${topo.getNom()}">Nom</td>
                    <td th:text="${topo.getDescription()}">Description</td>
                    <td th:text="${topo.getDifficulte()}">Difficulte</td>
                    <td th:text="${topo.getDepartement()}">Departement</td>
                    <td><a th:text="${topo.getNbVoies()}" th:href="'topoVoiesDetails?topoId='+ ${topo.getId()}"></a></td>
                    <td><i th:if="!${topo.isDisponible()}" class="fas fa-times fa-2x"></i><a th:if="${topo.isDisponible()}" th:href="'topoEmprunter?topoId='+${topo.getId()}"><i class="fas fa-check fa-2x"></i></a></td>
                    <td th:text="${topo.getMembre().getPseudo()}">Propriétaire</td>
                    <td><a th:if="${topo.getFichier()!= null}" th:href="'topoConsulter/fichiers?topoId='+${topo.getId()}"><i class="fas fa-file-download"></i>
                    </a>
                    </td>

                </tr>

            </table>


            <!--- FORMULAIRE POUR ECRIRE UN COMMENTAIRE --->
<br>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <div class="card">
                            <form name="my-form" action="#" th:action="@{'/posterMessage?topoId=' + ${topo.getId()}}" th:object="${commentaire}"method="post">
                                <div class="card-header">Ecrire un commentaire sur le Topo</div>
                                <div class="card-body">
                                    <div class="form-group row">
                                            <div class="col-md-10"><textarea class="form-control" id="memo" name="memo" rows="2" th:field="*{memo}" required></textarea></div>
                                        <div class="col-md-2"><button type="submit" class="btn btn-secondary">
                                            Poster
                                        </button></div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

<!--AFFICHAGE DE TOUS LES COMMENNTAIRES-->

            <div class="row">
                <div class="col-md-12">
                    <table style="margin-top: 10px" class="table">
                        <thead>
                        <tr><th>Membre</th>

                            <th>Commentaire</th>
                            <th>Date</th>
                        </tr></thead>

                        <tr th:each="ligne : ${commentaireList}">
                            <td th:text="${ligne.getMembre().getPseudo()}">Pseudo</td>
                            <td th:text="${ligne.getMemo()}">Mémo</td>
                            <td th:text="${#dates.format(ligne.getDate(), 'dd-MM-yyyy' + ' à ' + 'HH:mm')}">Date</td>
                        </tr>

                    </table>
                </div></div>


        </div>
    </div>
</div>

</body>
</html>