<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:include="bootstrapcdn.html"/>
    <meta charset="utf-8">

    <title>Emprunter un Topo</title>
</head>
<body>
<!-- nav bar -->
<div th:include="navbar.html"/>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12">

            <h2>Emprunt d'un Topo</h2>
            <br>
            <p style="color:orange">Nous vous rappelons qu'il est strictement interdit de vendre un Topo que vous empruntez</p>
            <p style="color:orange">Les emprunts dont la durée est manifestement abusive (> 15 jours) pourront être annulés par l'administrateur</p>
            <p style="color:orange">N'empruntez que les topos dont la difficulté correspond à votre niveau de grimpeur</p>
            <br>


            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <div class="card">
                            <form name="my-form" action="#" th:action="@{'/topoEmprunter?topoId=' + ${topo.getId()}}" th:object="${empruntTopo}" enctype="multipart/form-data" method="post">
                                <div class="card-header">Vous allez réserver le Topo n° <span th:text="${topo.getId()}"></span>, intitulé : <span style="color:red; font-weight: bold" th:text="${topo.getNom()}"></span></div>
                                <input type="text" th:value="${topo.getId()}" th:field="*{id}" hidden>
                                <div class="card-body">
                                     <div class="row">
                                         <div class="col-offset-md- 2 col-md-10"><label for="dateFin">Jusqu'à quelle date souhaitez vous emprunter le topo ? </label></div>
                                     </div>
                                    <div class="row">

                                    <div class="col-offset-md-4 col-md-6">
                                            <input th:type="date" id="dateFin" name="dateFin" th:field="*{dateFinEmprunt}" required>
                                        </div>
                                    </div>

                                    <div class="col-md-6 offset-md-4">
                                        <button type="submit" class="btn btn-secondary">
                                            Soumettre
                                        </button>
                                    </div>


                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>





        </div>
    </div>


</div>




</body>
</html>