<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:include="bootstrapcdn.html"/>
    <meta charset="utf-8">

    <title>Publier un Topo</title>

</head>
<body>
<!-- nav bar -->
<div th:include="navbar.html"/>


<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <form name="my-form" action="#" th:action="@{/topoEditer}" th:object="${topo}" enctype="multipart/form-data" method="post">

                    <!--FORMULAIRE DES TOPOS-->


                <div class="card-header">Décrivez votre Topo <button style="margin-left: 20%" type="submit" class="btn btn-secondary">
                    Soumettre
                </button></div>
                    <input type="text" th:value="${topo.getId()}" th:field="*{id}" hidden>
                <div class="card-body">

                        <div class="form-group row">
                            <label for="nom" class="col-md-4 col-form-label text-md-right">Nom du Topo</label>
                            <div class="col-md-6">
                                <input type="text" id="nom" class="form-control" name="nom" th:field="*{nom}" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="description" class="col-md-4 col-form-label text-md-right">Description</label>
                            <div class="col-md-6">
                                <textarea class="form-control" id="description" name="description" rows="3" th:field="*{description}" required></textarea>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-4 col-form-label text-md-right" for="departement" >Département</label>
                            <select class="form-control col-md-6" id="departement" th:field="*{departement}">
                                <option th:value="0" selected>Choisir</option>
                                <tr th:each="dept : ${listeDept}">
                                    <option th:value="${dept}" th:text="${dept}" required>Dpt</option></tr>

                            </select>
                        </div>

                        <div class="form-group row">
                            <label class="col-md-4 col-form-label text-md-right">Difficulté</label>
                            <label class="radio-inline">
                                <input type="radio" name="difficulte" th:field="*{difficulte}" th:value="facile">Facile</label>
                            <label class="radio-inline">
                                <input type="radio" name="difficulte" th:field="*{difficulte}" th:value="intermediaire" selected>Intermédiaire</label>
                            <label class="radio-inline">
                                <input type="radio" name="difficulte" th:field="*{difficulte}" th:value="expert" >Expert</label>
                        </div>

                        <div class="form-group row">
                            <label for="nbVoies" class="col-md-4 col-form-label text-md-right">Nombres de voies</label>
                            <div class="col-md-6">
                                <input type="number" id="nbVoies" class="form-control" name="nbVoies" min="0" max="100" th:field="*{nbVoies}" required>
                            </div>
                        </div>

                        <div class="input-group mb-3">
                            <div class="custom-file">
                                <input type="file"  name="file">

                            </div>

                        </div>
                </div>
                </form>

            </div>

                    <!--FORMULAIRE D AJOUT DES VOIES -->
                <!-- ne s'affiche pas si c'est la création d'un nouveau Topo ==> s'affiche si on a chargé la page avec un topo -->

            <div th:if="${topo.getId()}" class="card">
                <form name="my-form" action="#" th:action="@{'/voieAjouter?topoId=' + ${topo.getId()}}" th:object="${voie}" method="post">
                <div class="card-header">Ajouter des voies <button style="margin-left: 20%" type="submit" class="btn btn-secondary">
                    Ajouter
                </button></div>

                <div class="card-body">

                    <table class="table">
                        <thead>
                        <tr><th>Nom de la Voie</th><th>Difficulte</th><th>Longueur</th><th>Nom du site</th></tr></thead>
                        <tr>
                            <td><input type="text" class="form-control" name="nomV" th:field="*{nom}" required>
                        </td>

                        <td>
                            <input type="number" class="form-control" name="difficulteV" min="1" max="5" th:field="*{difficulte}" required>
                        </td>


                        <td>
                            <input type="number" class="form-control" name="longueur" th:field="*{longueur}" required>
                        </td>


                        <td>
                            <input type="text" class="form-control" name="nomSite" th:field="*{nomSite}">
                        </td>



                        </tr>

                    </table>



                </div>

                </form>
            </div>



            <!-- chargement des voies du topo s'il y en a -->
            <div th:if="${topo.getId()}" class="card">


                <div class="card-body">

                    <table class="table">
                        <thead><tr>
                        <th>Nom de la Voie</th><th>Difficulte</th><th>Longueur</th><th>Nom du site</th></tr></thead>
<tbody>
                        <tr th:each="ligne : ${listeVoies}">
                            <td th:text="${ligne.getNom()}">Nom Voie</td>
                            <td th:text="${ligne.getDifficulte()}">Difficulté</td>
                            <td th:text="${ligne.getLongueur()}">Longueur</td>
                            <td th:text="${ligne.getNomSite()}">Nom Site</td>
                        </tr>
</tbody>
                    </table>



                </div>




            </div>
        </div>
    </div>
</div>


</body>
</html>