<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:include="bootstrapcdn.html"/>
    <meta charset="utf-8">

    <title>Moteur de recherche des Topos</title>
</head>
<body>
<!-- nav bar -->
<div th:include="navbar.html"/>
<div class=="row">
    <div class="col-lg-12" id="bandeau0">
        <h2> Consulter les topos disponibles</h2>
    </div>
</div>

<!--FORMULAIRE DE RECHERCHE-->

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-10">
            <div class="card">
                <div class="card-header">Affiner la recherche des topos</div>
                <div class="card-body">
                    <form name="my-form" action="#" th:action="@{/topoConsulter}" th:object="${filtre}" method="post">
                        <div class="form-group row">
                            <label class="col-md-3 col-form-label text-md-right" for="departement" >Département</label>
                            <label class="col-md-3 col-form-label text-md-right" for="difficulte" >Difficulté</label>
                            <label class="col-md-3 col-form-label text-md-right" for="nbVoies" >Nb de voies</label>
                            <label class="col-md-2 col-form-label text-md-right" for="disponible" >Topo dispo.</label>
                        </div>
                        <div class="form-group row">
                            <select class="form-control col-md-3" id="departement" th:field="*{departement}">
                                <option value="0" selected>Tous</option>
                                <tr th:each="dept : ${listeDept}">
                                    <option th:value="${dept}" th:text="${dept}">Dpt</option>
                                </tr>
                            </select>
                            <select class="form-control col-md-3" id="difficulte" th:field="*{difficulte}">
                                <option selected value="all">Tous</option>
                                <option th:value="facile">Facile</option>
                                <option th:value="intermediaire">Intermédiaire</option>
                                <option th:value="expert">Expert</option>

                            </select>
                            <select class="form-control col-md-3" id="nbVoies" th:field="*{nbVoies}">
                                <option value="0" selected>Tous</option>
                                <option value="1">1-5</option>
                                <option value="2">6-10</option>
                                <option value="3">11-15</option>
                                <option value="4">16-20</option>
                                <option value="5">+20</option>
                            </select>

                            <input class="class=form-control col-md-2" id="disponible" type="checkbox" value="true" th:field="*{disponible}">

                            <div class="col-md-1">
                                <button type="submit" class="btn btn-secondary">
                                    Trier
                                </button>
                            </div>

                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</div>


<!--FIN DU FOORMULAIRE DE RERCHERCHE-->


<div class="row">
    <div class="col-md-12">
<table style="margin-top: 10px" class="table">
    <thead>
    <tr><th>Nom</th>
        <th>Description</th>
        <th>Difficulté</th>
        <th>Département</th>
        <th>Nb de voies</th>
        <th>Disponibilité</th>
        <th>Propriétaire</th>
        <th>Fichier</th>

    </tr></thead>

<tr th:each="ligne : ${topos}">
    <td th:text="${ligne.getNom()}">Nom</td>
    <td th:text="${ligne.getDescription()}">Description</td>
    <td th:text="${ligne.getDifficulte()}">Difficulte</td>
    <td th:text="${ligne.getDepartement()}">Departement</td>
    <td th:text="${ligne.getNbVoies()}">Nb voies</td>
    <td th:text="${ligne.isDisponible()}">Disponibilite</td>
    <td th:text="${ligne.getMembreId()}">Propriétaire</td>
    <td> <a th:href="@{'/file/'+${ligne.getFichier()}}"><span th:text="${ligne.getNom()}"/></a>>Fichier</td>


</tr>

</table>
    </div></div>


<div th:include="jscdn.html"/>
</body>
</html>